.nav-link {
    position: relative;
}

#navbar .nuxt-link-exact-active::after {
    content: '';
    width: 20px;
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: -3px;
    border-bottom: solid 3px orange;
    
}

@keyframes blinking {
    from, to {
        color: transparent;
    }
    50% {
        color: orange;
    }
}